<!DOCTYPE hmtl>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/form_login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../../controller/js/form_login.js"></script>
        <meta charset="utf-8" />
        <title>Login - Sistema de Reservas </title>
        <link rel="shortcut icon" href="/sicor/view/img/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="container">
            <div class="div">
                <h1 class = "titulo">Bem vindo ao Sistema de Reservas </h1>
                <h2 class = "subtitulo">Jardim Pacaembu SPE LTDA</h2>
                <label> Nome de Usuário </label><br>
                <input type="text" class="entrada" id="nome">
                <label> Senha </label><br>
                <input type="password" class="entrada" id="senha">
                <div class="entrar" id="entrar">Entrar</div>
                <h2 class = "subtitulo">Para solicitar seu acesso</h2>
                <h2 class = "subtitulo">ligar para (19)3461-6568 </h2>
                <h2 class = "subtitulo">Somente homologado para acesso com Google Chrome </h2>
            </div>
        </div>    
    
    
    <script type="text/javascript">
var LHCChatOptions = {};
LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500,domain:'condoplan.web7607.kinghost.net/chat/'};
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
po.src = '//condoplan.web7607.kinghost.net/chat/index.php/por/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true?r='+referrer+'&l='+location;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
        
    </body>
</html>

